@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow: hidden;
  background-color: #e6e6e6;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

}

/* Slider */
.slder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.text{
  position: absolute;
}

/* Estilos específicos para os IDs */


.Slide-0 h1{ 
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 8vh;
  
  
}
.Slide-0 .text p{ 
  font-weight: 600;
  font-size:17vh;
  margin-top: -4vh;
}

.Slide-1 {
 
  background-color: #387bd3; 
}

.Slide-2 {
  background-color: #00a65a; 
}

.Slide-3 {
  background-color: #d35400; 
}

.Slide-4 {
  background-color: #d35400;
}

button {
  opacity:0;
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}


.Conteudo {
  display:flex;
  ;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 

}

/* COMPONENTE Cabecalho */
.Cabecalho {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41%;
  width: 80vw;
  padding: 10px 0;
  gap: 2vw;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;

}

.Cabecalho #logoCabecalho {
  width: 60px;
  height: auto;
}

.Cabecalho hr {
  flex-grow: 1;
  height: 1px;
  background-color: #fff;
  
}

.Cabecalho p {
  background: linear-gradient(90deg, #004aad, #387bd3);
  color: #fff;
  height: 30px;
  width: 100px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Responsividade */
@media (max-width: 768px) {
  .Cabecalho {
    flex-direction: column;
    text-align: center;
  }

  .Cabecalho hr {
    margin: 10px 0;
    width: 100%;
  }

  .Conteudo {
    width: 95%;
    height: auto;
    padding: 20px;
  }
}